@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Vehículo</h3>
    <div class="form-floating mb-3">
        <select class="form-select" id="MarcaSelect" aria-label="Floating label select example">
            <option selected value='0'>Seleccione una Marca</option>
        </select>
        <label for="floatingSelect">Marca:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="SubmarcaSelect" aria-label="Floating label select example">
            <option selected value='0'>Seleccione una Submarca</option>
        </select>
        <label for="floatingSelect">Submarca:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="ModeloSelect" aria-label="Floating label select example">
            <option selected value='0'>Seleccione un modelo</option>
        </select>
        <label for="floatingSelect">Modelo:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="DescripcionSelect" aria-label="Floating label select example">
            <option selected value='0'>Seleccione una descripcion</option>
        </select>
        <label for="floatingSelect">Descripcion:</label>
    </div>
    <h3>Domicilio</h3>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="PostalCode" placeholder="12345">
        <label for="floatingInput">Codigo Postal</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" readonly="readonly" class="form-control" id="Estado" placeholder="Estado">
        <label for="floatingSelect">Estado:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" readonly="readonly" class="form-control" id="Municipio" placeholder="Municipio">
        <label for="floatingSelect">Municipio:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="Colonia" aria-label="Floating label select example">
            <option selected value='0'>Seleccione una colonia</option>
        </select>
        <label for="floatingSelect">Colonia:</label>
    </div>
    <button type="button" id="SubmitBtn" class="btn btn-primary">Cotizar</button>
</div>

<div class="modal fade" id="CotizadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cotizacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 id="text">Cotizando...</h2>
                <div class="d-flex justify-content-evenly flex-wrap" id="aseguradoras"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
